.header {
  height: 100vh;
  width: 100%;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.409)), to(rgba(0, 0, 0, 0.424))), url("../img/1.jpg");
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.409), rgba(0, 0, 0, 0.424)), url("../img/1.jpg");
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.409), rgba(0, 0, 0, 0.424)), url("../img/1.jpg");
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.409), rgba(0, 0, 0, 0.424)), url("../img/1.jpg");
  -webkit-background-size: cover;
          background-size: cover;
  background-repeat: no-repeat;
}
.header__head {
  padding: 2rem 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  position: relative;
}
.header__head::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1px;
  opacity: 0.4;
  background-color: #fff;
}
.header__link {
  text-decoration: none;
}
.header__label {
  color: #fff;
  font-size: 2rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  z-index: 3;
}
.header__label-icon {
  margin-left: 2rem;
  width: 3.5rem;
  height: 3.5rem;
  fill: #fff;
  cursor: pointer;
}
.header__body {
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  color: #fff;
}
.header__body-content {
  text-align: center;
}
.header__body-title {
  margin-bottom: 1.5rem;
  font-size: 4.5rem;
  font-weight: 900;
}
.header__body-subtitle {
  margin-bottom: 3rem;
  font-size: 3.2rem;
  font-family: Lora, sans-serif;
  font-style: italic;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-size: 1rem;
  /* font-family: 'Lora', serif; */
  font-family: "Raleway", sans-serif;
}

.icon {
  width: 3.5rem;
  height: 3.5rem;
  fill: #51c2b9;
}
.icon-viacoin {
  fill: #fff;
}

.navbar {
  background-color: #000;
  position: absolute;
  display: block;
  width: 100%;
  text-align: center;
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  -webkit-transform: translateY(-100%);
       -o-transform: translateY(-100%);
          transform: translateY(-100%);
}
.navbar__menu {
  list-style: none;
  /* 	&-item {
  	padding: 2rem;
  	border-bottom: 1px solid #ccc;
  	&:last-child {
  		border-bottom: none;
  	}
  } */
}
.navbar__menu-link {
  display: block;
  text-decoration: none;
  color: #fff;
  font-size: 2.2rem;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  padding: 2rem;
  border-bottom: 1px solid #ccc;
}
.navbar__menu-link:last-child {
  border-bottom: none;
}
.navbar__menu-link:hover {
  color: #51c2b9;
  text-decoration: underline;
}
.navbar__open {
  -webkit-transform: translateY(0);
       -o-transform: translateY(0);
          transform: translateY(0);
  position: relative;
}

.about {
  width: 100%;
  max-height: -webkit-max-content;
  max-height: -moz-max-content;
  max-height: max-content;
  background-color: #f8f8f8;
  text-align: center;
}
.about__body {
  padding: 6rem;
  max-width: 800px;
  margin: 0 auto;
}
.about__title {
  font-size: 3.2rem;
  font-weight: 900;
  color: #000;
  position: relative;
  margin-bottom: 8rem;
}
.about__title::after {
  content: "";
  position: absolute;
  bottom: -5rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
       -o-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 5rem;
  height: 0.5rem;
  background-color: #51c2b9;
}
.about__info {
  font-family: Lora, sans-serif;
  font-size: 1.6rem;
  color: #000;
  margin-bottom: 3rem;
}
.about__signature {
  margin-bottom: 2rem;
}
.about__footer {
  font-size: 1.6rem;
  font-weight: 600;
}

.job {
  background-color: #fff;
  opacity: 0.8;
  padding: 7rem 0;
}
.job__content {
  text-align: center;
}
.job__title {
  font-size: 3.2rem;
  font-weight: 900;
  position: relative;
  margin-bottom: 10rem;
}
.job__title::after {
  content: "";
  position: absolute;
  bottom: -5rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
       -o-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 4.5rem;
  height: 0.6rem;
  background-color: #51c2b9;
}
.job__box {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
          justify-content: space-between;
}
.job__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
}
.job__item-img {
  background-color: #51c2b9;
  padding: 5rem;
  border-radius: 50%;
  margin-bottom: 3rem;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  position: relative;
}
.job__item-img:hover {
  scale: 1.2;
}
.job__item-title {
  font-size: 2.1rem;
  font-weight: 900;
  margin-bottom: 6rem;
  position: relative;
}
.job__item-title::after {
  content: "";
  position: absolute;
  bottom: -4rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
       -o-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 4rem;
  height: 0.2rem;
  background-color: #51c2b9;
}
.job__item-text {
  font-family: Lora, sans-serif;
  font-size: 1.5rem;
}
.job__circle {
  position: relative;
}
.job__circle::before {
  content: "1";
  position: absolute;
  color: #000;
  border: 3px solid #51c2b9;
  padding: 7.3rem 7.5rem;
  top: -1.5rem;
  left: -1.5rem;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  border-radius: 50%;
}

.expertise {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  background-color: #f8f8f8;
  width: 100%;
}
.expertise__col-left {
  -webkit-box-flex: 45%;
  -webkit-flex: 45%;
          flex: 45%;
}
.expertise__col-right {
  -webkit-box-flex: 55%;
  -webkit-flex: 55%;
          flex: 55%;
  text-align: center;
}
.expertise__img {
  width: 100%;
  max-height: 50rem;
}
.expertise__title {
  font-size: 3.2rem;
  font-weight: 900;
  margin: 5rem 0;
  position: relative;
}
.expertise__title::after {
  content: "";
  position: absolute;
  bottom: -5rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
       -o-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 0.8px;
  width: 3rem;
  background-color: #51c2b9;
}
.expertise__text-block {
  font-family: Lora, sans-serif;
  font-style: italic;
  font-size: 1.6rem;
  padding: 3rem 4rem;
  opacity: 0.5;
}

.smblock {
  padding: 3rem 0;
  text-align: center;
  height: 35rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  color: #fff;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.6))), url("../img/3.jpg");
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)), url("../img/3.jpg");
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)), url("../img/3.jpg");
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)), url("../img/3.jpg");
  background-position: left center;
  -webkit-background-size: cover;
          background-size: cover;
}
.smblock__icon {
  width: 3.5rem;
  height: 3.5rem;
  opacity: 0.8;
  fill: #fff;
  padding: 5rem 0;
}
.smblock__title {
  font-family: Lora, sans-serif;
  font-style: italic;
  font-weight: 500;
  font-size: 3rem;
  padding-bottom: 2rem;
}
.smblock__author {
  font-family: Lora, sans-serif;
  font-style: italic;
  font-size: 2.2rem;
}

.workstation {
  text-align: center;
}
.workstation__content {
  padding: 5rem 0;
}
.workstation__title {
  font-size: 4rem;
  font-weight: 900;
  position: relative;
  padding-bottom: 6rem;
  /* font-size: 4rem;
  font-weight: 900;
  position: relative;
  padding-bottom: 6rem;

  &::after {
  	content: "";
  	position: absolute;
  	left: 50%;
  	transform: translateX(-50%);
  	bottom: 0;
  	width: 5rem;
  	height: 0.7rem;
  	background-color: $color-main;
  	margin-bottom: 4rem;
  } */
}
.workstation__title::after {
  content: "";
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
       -o-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: -3rem;
  width: 5rem;
  height: 0.7rem;
  background-color: #51c2b9;
  margin-bottom: 5rem;
}
.workstation__blocks {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  gap: 2rem;
}
.workstation__block {
  margin-top: 4rem;
}
.workstation__block-title {
  font-size: 2.1rem;
  font-weight: 800;
  margin-top: 5rem;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 6rem;
}
.workstation__block-title::after {
  content: "";
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
       -o-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 0;
  width: 5rem;
  height: 0.1rem;
  background-color: #51c2b9;
  margin-bottom: 4rem;
}
.workstation__paragraph {
  font-size: 1.5rem;
  font-family: Lora, sans-serif;
  font-style: italic;
  opacity: 0.5;
}

.videoblock {
  padding: 2rem 0;
  height: 35rem;
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0.43)), to(rgba(0, 0, 0, 0.43))), url(../img/7.jpg);
  background-image: -webkit-linear-gradient(right, rgba(0, 0, 0, 0.43), rgba(0, 0, 0, 0.43)), url(../img/7.jpg);
  background-image: -o-linear-gradient(right, rgba(0, 0, 0, 0.43), rgba(0, 0, 0, 0.43)), url(../img/7.jpg);
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.43), rgba(0, 0, 0, 0.43)), url(../img/7.jpg);
  -webkit-background-size: cover;
          background-size: cover;
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
}
.videoblock__txt {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  font-size: 2rem;
  font-family: Lora;
  font-style: italic;
}
.videoblock__icon {
  padding: 0;
  margin: 0;
  width: 9.5rem;
  height: 9.5rem;
  fill: #fff;
  margin: 0 3rem;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.videoblock__icon:hover {
  fill: #000;
  cursor: pointer;
}

.members {
  padding: 8rem 0;
  text-align: center;
}
.members__title {
  font-size: 4rem;
  font-weight: 900;
  position: relative;
  padding-bottom: 6rem;
}
.members__title::after {
  content: "";
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
       -o-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: -3rem;
  width: 5rem;
  height: 0.7rem;
  background-color: #51c2b9;
  margin-bottom: 5rem;
}
.members__blocks {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  gap: 2rem;
}
.members__block-title {
  font-size: 2.1rem;
  font-weight: 800;
  margin-top: 5rem;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 6rem;
}
.members__block-title::after {
  content: "";
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
       -o-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 0;
  width: 5rem;
  height: 0.1rem;
  background-color: #51c2b9;
  margin-bottom: 4rem;
}
.members__paragraph {
  font-size: 1.5rem;
  font-family: Lora, sans-serif;
  font-style: italic;
  opacity: 0.5;
}
.members__social {
  margin: 5rem 0;
}
.members__icon {
  margin: 0;
  padding: 0;
  width: 1.35rem;
  height: 1.35rem;
  fill: #fff;
  padding: 1rem 1.3rem;
  background-color: #51c2b9;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.members__icon:hover {
  fill: #51c2b9;
  background-color: #fff;
  outline: 1px solid #51c2b9;
  cursor: pointer;
}

.subscribe {
  padding: 5rem 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  height: 30rem;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../img/11.jpg);
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/11.jpg);
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/11.jpg);
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/11.jpg);
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center;
}
.subscribe__content {
  color: #fff;
}
.subscribe__title {
  font-size: 3rem;
  font-weight: 500;
  font-family: Lora, sans-serif;
  font-style: italic;
  margin-bottom: 3rem;
}
.subscribe__btn {
  background-color: #fff;
  color: #000;
  -webkit-transition: 0.2;
  -o-transition: 0.2;
  transition: 0.2;
}
.subscribe__btn:hover {
  background-color: #fff;
  color: #fff;
  cursor: pointer;
}
.subscribe__email {
  padding: 1.5rem;
  width: 25rem;
  background-color: transparent;
  outline: none;
  border: 1px solid #fff;
  color: #fff;
  font-size: 1.5rem;
}
.subscribe__email::-webkit-input-placeholder {
  color: #fff;
  font-size: 2rem;
  font-weight: 500;
  font-family: Lora, sans-serif;
  font-style: italic;
}
.subscribe__email::-moz-placeholder {
  color: #fff;
  font-size: 2rem;
  font-weight: 500;
  font-family: Lora, sans-serif;
  font-style: italic;
}
.subscribe__email::placeholder {
  color: #fff;
  font-size: 2rem;
  font-weight: 500;
  font-family: Lora, sans-serif;
  font-style: italic;
}

.contact {
  padding: 7rem 0;
  height: 45rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  text-align: center;
}
.contact__content {
  padding: 5rem 0;
}
.contact__title {
  font-size: 4rem;
  font-weight: 900;
  position: relative;
  padding-bottom: 6rem;
}
.contact__title::after {
  content: "";
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
       -o-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: -3rem;
  width: 5rem;
  height: 0.7rem;
  background-color: #51c2b9;
  margin-bottom: 5rem;
}
.contact__blocks {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  width: 100%;
  gap: 5rem;
}
.contact__block {
  padding: 3rem 10rem;
  background-color: rgb(249, 249, 249);
}
.contact__block-title {
  font-size: 2.1rem;
  font-weight: 800;
  margin-top: 5rem;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 6rem;
  margin-top: 2rem;
}
.contact__block-title::after {
  content: "";
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
       -o-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 0;
  width: 5rem;
  height: 0.1rem;
  background-color: #51c2b9;
  margin-bottom: 4rem;
}
.contact__icon {
  width: 2.5rem;
  height: 2.5rem;
  fill: #51c2b9;
  margin: 0;
  padding: 0;
}
.contact__social {
  margin: 5rem 0;
}
.contact__icon-s {
  margin: 0;
  padding: 0;
  width: 1.35rem;
  height: 1.35rem;
  fill: #fff;
  padding: 1rem 1.3rem;
  background-color: #51c2b9;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.contact__icon-s:hover {
  fill: #51c2b9;
  background-color: #fff;
  outline: 1px solid #51c2b9;
  cursor: pointer;
}

.footer {
  height: 20rem;
  background-color: #000;
  display: grid;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  color: #fff;
  font-size: 3rem;
  font-style: italic;
  font-family: Lora, sans-serif;
}
.footer__icon {
  margin: 0;
  padding: 0;
  width: 2.35rem;
  height: 2.35rem;
  fill: #51c2b9;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.row-mid {
  max-width: 1180px;
  margin: 0 auto;
}

.hide {
  display: none;
}

.btn {
  padding: 1.5rem 8rem;
  font-family: Lora, sans-serif;
  font-style: italic;
  font-size: 1.4rem;
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  margin-bottom: 2rem;
}
.btn:hover {
  background-color: #fff;
  color: #000;
}

.icon {
  width: 3rem;
  height: 3rem;
  fill: #fff;
  cursor: pointer;
}/*# sourceMappingURL=main.css.map */