.contact {
	padding: 7rem 0;
	height: 45rem;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;

	&__content {
		padding: 5rem 0;
	}

	&__title {
		@include title-bold;
	}

	&__blocks {
		display: flex;
		justify-content: space-between;
		width: 100%;
		gap: 5rem;
	}

	&__block {
		padding: 3rem 10rem;
		background-color: rgb(249, 249, 249);

		&-title {
			@include title-thin;
			margin-top: 2rem;
		}
	}

	&__icon {
		width: 2.5rem;
		height: 2.5rem;
		fill: $color-main;
		margin: 0;
		padding: 0;
	}

	&__social {
		margin: 5rem 0;
	}

	&__icon-s {
		margin: 0;
		padding: 0;
		width: 1.35rem;
		height: 1.35rem;
		fill: $color-white;
		padding: 1rem 1.3rem;
		background-color: $color-main;
		transition: 0.2s;
		&:hover {
			fill: $color-main;
			background-color: $color-white;
			outline: 1px solid $color-main;
			cursor: pointer;
		}
	}
}
