$color-main: #51c2b9;
$color-black: #000;
$color-white: #fff;

@import "header";
@import "base";
@import "icon";
@import "navbar";

.short {
	max-width: 1180px;
	margin: 0 auto;
}

.hide {
	display: none;
}
