$color-main: #51c2b9;
$color-black: #000;
$color-white: #fff;

@import "header";
@import "base";
@import "icon";
@import "navbar";
@import "about";
@import "job";
@import "expertise";

.row-mid {
	max-width: 1180px;
	margin: 0 auto;
}

.hide {
	display: none;
}

.btn {
	padding: 1.5rem 8rem;
	font-family: Lora, sans-serif;
	font-style: italic;
	font-size: 1.4rem;
	color: $color-white;
	background-color: transparent;
	border: 1px solid $color-white;
	transition: 0.3s;

	margin-bottom: 2rem;
	&:hover {
		background-color: $color-white;
		color: $color-black;
	}
}

.icon {
	width: 3rem;
	height: 3rem;
	fill: $color-white;
	cursor: pointer;
}
